<form name="myForm">
        <i class="fa fa-phone fa-2x"></i>
        <input type="text"
               name="phoneNumber"
               ng-model="phoneNumber"
               ng-pattern="areaCodeRegExp"
               required>
        <span class="text-error" ng-show="myForm.phoneNumber.$error.pattern">Required area code prefix (i.e '+XX')</span>
        <br/>
        <button type="submit"
                class="btn btn-default"
                ng-click="validatePhoneNumber()"
                ng-disabled="myForm.$invalid">Validate</button>
    <!-- TODO implement checkbox for receiving SMS notifications -->
</form>
